@model IEnumerable<MoencoPOS.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewTheme _MainLayout_Sidebar.cshtml";
}

<div class="row">

    <div class="col-md-9  col-sm-9">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-list font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Customers</span>
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title=""></a>
                </div>
                <div class="actions">
                    <a href="@Url.Action("Create", "Customers")" class="btn green" btn-success=""
                       data-buttontype="btn_new_record"><i class="fa fa-plus"></i>Register Customer</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive" style="overflow:visible !important;">
                    <table class="table table-striped table-condensed ">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MiddleName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TelephoneNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TIN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VATNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trusted)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (MoencoPOS.Models.Customer item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MiddleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TelephoneNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TIN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VATNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Trusted)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn yellow btn-sm" href="@Url.Action("Edit", "Customers", new { id = item.CustomerId })"><span class="fa fa-edit"></span>Edit</a>
                                            <a class="btn red btn-sm btn-delete-customer" href="#" customerId="@item.CustomerId"><span class="fa fa-times-circle"></span>Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                //}

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cats-modal-customer-delete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">Delete Customer</h4>
            </div>


            <div class="modal-body">

                <p>
                    Are you sure do you want to delete the Customer?
                </p>

            </div>
            <div class="modal-footer">
                <button id="yes-delete" class="btn btn-primary" type="submit">Yes</button>
                <button id="no" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            </div>


        </div>
    </div>
</div>

<script>
    $(function () {
        $(".btn-delete-customer").click(function () {
            var customerId = $(this).attr('customerId');
            $('#cats-modal-customer-delete').modal('show');

            $("#yes-delete").click(function () {

                window.location = "@Url.Action("Delete", "Customers")" + "/" + customerId;

            });
        });
    });
</script>