@model IEnumerable<MoencoPOS.Models.ProductReceiveInvoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductReceiveInvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductReceiveInvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductReceiveInvoiceId })
        </td>
    </tr>
}

</table>
